<!DOCTYPE html>
<html>
<%= yield %>
<h3>Domek</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
<button class="big green button">Order Now</button>
<footer class="row">
	<section class="small-4 columns">
		2016 &copy;
	</section>
	
	<section class="small-12 columns">
		All rights reserved.
	</section>
</footer>
</html>